/*.log
/*.aux
/*.bib.bak
/*.tex.bak
/Mathmod2012_R_Geospatial_Plotting.out
/Mathmod2012_R_Geospatial_Plotting.bbl
/Mathmod2012_R_Geospatial_Plotting.blg
/Mathmod2012_R_Geospatial_Plotting.tex~
/*.bak
